{% extends 'global/base.html' %}

{% block title %}Cart |{% endblock title %}

{% block content %}
    <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
        <div class="product w-full lg:w-3/4">
            <div class="product mb-6 flex pr-6">
                <a href="#" class="w-1/4">
                    <img 
                        src="https://images.pexels.com/photos/1866149/pexels-photo-1866149.jpeg?cs=srgb&dl=pexels-martin-p%C3%A9chy-1866149.jpg&fm=jpg" 
                        alt="Furniture picture" 
                        class="hover:shadow-lg rounded-xl">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">Product name</a>
                        <span class="mb-6 pt-1 text-gray-700">R$ 99.90</span>
                    </div>

                    <hr>

                    <div class="quantity mt-6 flex items-center space-x-4">
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">-</a>
                        <span>2</span>
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">+</a>
                    </div>

                </div>
            </div>



            <div class="product mb-6 flex pr-6">
                <a href="#" class="w-1/4">
                    <img 
                        src="https://images.pexels.com/photos/1866149/pexels-photo-1866149.jpeg?cs=srgb&dl=pexels-martin-p%C3%A9chy-1866149.jpg&fm=jpg" 
                        alt="Furniture picture" 
                        class="hover:shadow-lg rounded-xl">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">Product name</a>
                        <span class="mb-6 pt-1 text-gray-700">R$ 99.90</span>
                    </div>

                    <hr>

                    <div class="quantity mt-6 flex items-center space-x-4">
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">-</a>
                        <span>2</span>
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">+</a>
                    </div>

                </div>
            </div>



            <div class="product mb-6 flex pr-6">
                <a href="#" class="w-1/4">
                    <img 
                        src="https://images.pexels.com/photos/1866149/pexels-photo-1866149.jpeg?cs=srgb&dl=pexels-martin-p%C3%A9chy-1866149.jpg&fm=jpg" 
                        alt="Furniture picture" 
                        class="hover:shadow-lg rounded-xl">
                </a>

                <div class="w-3/4 pl-6">
                    <div class="flex justify-between">
                        <a href="#" class="text-lg">Product name</a>
                        <span class="mb-6 pt-1 text-gray-700">R$ 99.90</span>
                    </div>

                    <hr>

                    <div class="quantity mt-6 flex items-center space-x-4">
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">-</a>
                        <span>2</span>
                        <a href="#" class="p-3 bg-purple-500 rounded-xl hover:bg-purple-700 text-white font-semibold">+</a>
                    </div>

                </div>
            </div>








        </div>

        <div class="summary w-full w-1/4 p-6 bg-gray-300 rounded-xl mt-3">
            <h2 class="uppercase text-lg mb-5">Summary</h2>

            <div class="mb-6 flex justify-between">
                <span class="font-semibold">Total</span>
                <span>R$ 99.90</span>
            </div>

            <a href="#" class="inline-block px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white font-semibold">
                Checkout
            </a>

        </div>
    </div>
{% endblock content %}