<!DOCTYPE html>
<html lang="pt-BR">
<head>
{% include 'global/partials/head.html' %}
<title> {% block title %}{% endblock title %} E-commerce</title>
 
<body>
     {% include 'global/partials/navbar.html' %}

    <main>
     
        {% block content %}{% endblock content %}
    </main>

    {% include 'global/partials/footer.html' %}

  

    <script 
        src="https://unpkg.com/htmx.org@1.7.0" 
        integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" 
        crossorigin="anonymous">
    </script>
</body>
</html>