<header class="px-6 py-10 lg:py-20 bg-purple-500">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl text-white">
            E-commerce Marshal
        </p>
        <p class="mb-10 text-white">
            We sell that you need for your life
        </p>
        <a href="{% url 'shop' %}" 
        class="
        inline-block 
        px-8 py-4 
        rounded-xl 
        bg-white 
        text-purple-500 
        hover:bg-gray-200">
        Start Shopping
        </a>
    </div>
</header>